/*
	Anylytics Style Guide
	By: Nabil Enayet 1/3/2015
	http://anylytics.io
*/

/******* FONTS ********/

@font-face {
	font-family: 'SourceSans';
	src: url("../fonts/SourceSansPro-Bold.otf") format("opentype");
}

@font-face {
	font-family: 'Andada-Italic';
	src: url("../fonts/Andada-Italic.otf") format("opentype");
}

@font-face {
	font-family: 'Andada-Regular';
	src: url("../fonts/Andada-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'Andada-Bold';
	src: url("../fonts/Andada-Bold.otf") format("opentype");
}

.andadaItalic {
	font-family: 'Andada-Italic';
}

.andadaRegular {
	font-family: 'Andada-Regular';
}

.andadaBold {
	font-family: 'Andada-Bold';
}

.sourceSans {
	font-family: 'SourceSans';
}

.white {
	color:white;
}

.black {
	color:black;
}


/****** LOGO LOADING *******/

#svg-any-logo { 
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:90px;
	height:90px;
	margin:auto;
	/*-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	animation-delay: 0.4s;*/
	-webkit-animation-duration: 0.3s;
	-moz-animation-duration: 0.3s;
	-ms-animation-duration: 0.3s;
	-o-animation-duration: 0.3s;
	animation-duration: 0.3s;
}

#full-any-logo {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:200px;
	margin:auto;
	display:none;
}

/******* TYPOGRAPHY ********/

h1, h2, h3, h4, h5, h6 {
	font-family: 'SourceSans';
}

#marginfix {
	margin-top:-5px;
}

.marginfix2 {
    margin-top: -10px;
}

h1,h2 {
	color: #FFF;
}

h3,h4 {
	color:#54A148;
}

h5,h6 {
	color:#565656;
}

html, body {
	font-family: 'Andada-Regular';
	color:#565656;
	height:100%;
	width:100%;
}

a {
	color:#9B4D28;
	text-decoration: underline;
}

a:hover {
	color: #E2B197;
	text-decoration: none;
	cursor: pointer;
}

/******* TOP MENU ********/

#logo {
	padding-top:5px;
	height:30px;
	opacity: 0.6;
}

#logo:hover {
	opacity:1;
}

.headButton {
	padding-top:5px;
	height:30px;
	opacity:.8;
}

.headButton:hover {
	opacity: 1;
}

.headButtonActive {
	height:36px;
	padding-top:3px;
}

#logoxs {
	padding-top:10px;
	height:60px;
}

.navbar-brand #logoxs {
	margin-top:-20px;
	margin-left:-10px;
}

#head {
	position:fixed;
	top:8px;
	left:35px;
	z-index: 1000;
	display:inline-block;
}

.navbar {
	border-color:#54A148;
	border-bottom-style:solid;
	//border-bottom-width:2px;
	box-shadow: 1px 1px 4px #888888;
}


/******** Loading animation  *******/
/* From https://github.com/tobiasahlin/SpinKit */


#loading-screen {
	background-color:white;
	opacity:1;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100000;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/******* LOADING ANIMATION ********/
/* http://projects.lukehaas.me/css-loaders/ */
.loader {
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.087em -0.825em 0 -0.42em #54A148, -0.173em -0.812em 0 -0.44em #54A148, -0.256em -0.789em 0 -0.46em #54A148, -0.297em -0.775em 0 -0.477em #54A148;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.338em -0.758em 0 -0.42em #54A148, -0.555em -0.617em 0 -0.44em #54A148, -0.671em -0.488em 0 -0.46em #54A148, -0.749em -0.34em 0 -0.477em #54A148;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.377em -0.74em 0 -0.42em #54A148, -0.645em -0.522em 0 -0.44em #54A148, -0.775em -0.297em 0 -0.46em #54A148, -0.82em -0.09em 0 -0.477em #54A148;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.087em -0.825em 0 -0.42em #54A148, -0.173em -0.812em 0 -0.44em #54A148, -0.256em -0.789em 0 -0.46em #54A148, -0.297em -0.775em 0 -0.477em #54A148;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.338em -0.758em 0 -0.42em #54A148, -0.555em -0.617em 0 -0.44em #54A148, -0.671em -0.488em 0 -0.46em #54A148, -0.749em -0.34em 0 -0.477em #54A148;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.377em -0.74em 0 -0.42em #54A148, -0.645em -0.522em 0 -0.44em #54A148, -0.775em -0.297em 0 -0.46em #54A148, -0.82em -0.09em 0 -0.477em #54A148;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
}


/******* CONTENT ********/

.sendToBack {
	z-index: -1;	
}


/******* Anylytics Helper Classes ********/
.any-inline {
	display:inline;
}