/*

Theme for Anylytics Portal
Author: 	Nabil Enayet;
Date: 		6/8/2015;

*/


/*********[Bootstrap Overrides]*********/
.navbar {
	margin-bottom:0;
}

.navbar {
  border-radius: 0!important;
}

.container {
	position:relative;
}

.overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: .5;
    display: inline;
}

/*********[Global Header Styling]*********/
body {
}

.navbar {
	background-color:#54A148;
	vertical-align:middle;
}

.global-header > h2 {
	display:inline;
	vertical-align:middle;
	margin-left:20px;
}

#header-logo {
	width:50px;
	height:50px;
}

.header-info {

}

#logout {
	text-decoration: none;
}
#logout:hover {
	text-decoration: none;
}

/*********[Global Nav Bar Styling]*********/

.subnavbar {
    	margin-bottom: 2.5em;
    }

.subnavbar-inner {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
	display: inline-block;

	height: 80px;
	padding: 0;
	margin: 0;

}

.subnavbar .container > ul > li {
	float: left;

	min-width: 90px;
	height: 60px;
	padding: 0;
	margin: 0;

	text-align: center;
	list-style: none;

	//border-left: 1px solid #d9d9d9;


}

.subnavbar .container > ul > li > a {
	display: block;

	height: 100%;
	padding: 0 15px;

	font-size: 12px;
	font-weight: bold;
	color: #b2afaa;
	transition: color 0.2s ease;
	text-decoration:none;
}

.subnavbar .container > ul > li > a:hover {
	transition: color 0.2s ease;
	color: #888;
	text-decoration: none;
	border-bottom:1px solid #54A148;
}

.subnavbar .container > ul > li > a > i {
	display: inline-block;

	width: 24px;
	height: 24px;
	margin-top: 11px;
	margin-bottom: -3px;
	font-size: 20px;
}

.subnavbar .container > ul > li > a > span {
	display: block;
	text-decoration:none;
}


.subnavbar .container > ul > li.active > a {
	border-bottom:3px solid #54A148;
	color: #383838;
	cursor:default;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;

}


.subnavbar .dropdown .dropdown-menu a {
	font-size: 12px;
}


.subnavbar .dropdown .dropdown-menu {
    	text-align: left;

		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
    }



.subnavbar .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

.subnavbar .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}


.subnavbar .caret {
	margin-top: 4px;

	border-top-color: white;
	border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
	display: none;
}

/*********[Helper Classes]*********/

.pad-right {
	margin-right:10px;
}

.glyphicon.push {
	margin-right:5px;
}

.clickable {
	cursor:pointer;
}

.uppercase {
	text-transform: uppercase;
}

/*********[Global Dash Widgets]*********/
.dash-widget {
	border: 1px solid #d6d6d6;
	padding:10px;
	margin:10px;
	text-align:left;
	position:relative;
	background-color:white;
}

.dash-widget:hover {
	border-color:#54A148;
}

.dash-widget-header {
	border-bottom: 1px solid #d6d6d6;
}

.dash-widget-content {
	padding:10px;
}

.dash-widget-content > span {
	display:block;
}

.dash-widget-line-item {
	border: 1px solid #d6d6d6;
	padding: 20px 0 20px 0;
	margin:10px;
	background-color:#ededed;
	transition: background-color 0.4s ease;
}

.dash-widget-line-item:hover {
	transition: background-color 0.4s ease;
	background-color:#dceeda;
}

.hover-green:hover {
	background-color:#dceeda!important;
}

.hover-red:hover {
	background-color:#EEDADA!important;
}

.line-item-icon {
	margin:20px;
}

h4 > .glyphicon {
	margin-right:10px;
}

.dash-widget-upload {
	border: 3px dashed #d6d6d6;
	margin:5px;
}

.dash-widget-upload > h5 {
	margin:25px;
	text-align:center;
}

.floatBox {
	position:fixed;
	z-index:10;
}

.fixedRight {
	right:0;
}

.fixedLeft {
	left:0;
}

span.template-pill {
    display: inline-block;
    padding: 5px;
    background-color: #009688;
    color: white;
    margin: 2px;
    border-radius: 4px;
    font-weight: 100;
    font-family: sans-serif;
}

tr.line-separated {
	border-top: solid 1px gainsboro;
	border-bottom: solid 1px gainsboro;
}

/******* REPORTS ********/
.report-img {
	width:100%;
}

/******** TABLES ********/
table {
	width:100%;
	text-align:left;
}

tbody > tr:hover {
	transition: background-color 0.4s ease;
	background-color:#dceeda!important;
}

tr {
	transition: background-color 0.4s ease;
}

th, .form-group > label {
	font-size:1.2em;
	font-weight:700;
	font-family: sans-serif;
}

tr.rotate-ninty td {
  height: 140px;
  white-space: nowrap;
}

th.rotate-ninty > div {
  transform:
    translate(-45px, 25px)
    rotate(-45deg);
  width: 30px;
}

.sortable {
	cursor:pointer;
}

.sortable > i {
	transition: all 0.3s;
	opacity:0.4;
	padding: 4px;
}

.sortable:hover > i {
	background-color:#54A148;
	color:white;
	opacity:0.6;
	border-radius:30%;
	transition: all 0.3s;
}

.sortable.sorted > i {
	background-color:#54A148;
	color:white;
	opacity:0.9;
	transform: rotate(90deg);
	border-radius:50%;

}

.sortable.sorted {
	text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    border-top-style:solid;
    border-top-color:gainsboro;
    border-top-width:1px;
    padding:20px;
}

body {
	margin-bottom: 200px;
}

.line-legend {
	display:inline;
	list-style:none;
	padding:10px;
	padding-right:20px;
	border-style:solid;
	border-width:1px;
	border-color:gainsboro;
	border-radius:5px;
}

.line-legend:hover {
	border-color:black;
}

.line-legend > li > span {
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
}

.line-legend > li {
    display: inline-block;
    margin-left:20px;
}

.dash-legends {
	margin:25px;
}

h2.admin-section {
	color:#54A148;
}

.btn-small {
	padding:1px 2px;
}


/******** Indeterminate Loader ********/
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0;
  overflow: hidden; }
  .progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #26a69a;
    -webkit-transition: width .3s linear;
    -moz-transition: width .3s linear;
    -o-transition: width .3s linear;
    -ms-transition: width .3s linear;
    transition: width .3s linear; }
  .progress .indeterminate {
    background-color: #26a69a; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      -moz-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      -ms-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      -o-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -moz-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -ms-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -o-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
      -moz-animation-delay: 1.15s;
      -ms-animation-delay: 1.15s;
      -o-animation-delay: 1.15s;
      animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }

  60% {
    left: 100%;
    right: -90%; }

  100% {
    left: 100%;
    right: -90%; } }

@-moz-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }

  60% {
    left: 100%;
    right: -90%; }

  100% {
    left: 100%;
    right: -90%; } }

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }

  60% {
    left: 100%;
    right: -90%; }

  100% {
    left: 100%;
    right: -90%; } }

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }

  60% {
    left: 107%;
    right: -8%; }

  100% {
    left: 107%;
    right: -8%; } }

@-moz-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }

  60% {
    left: 107%;
    right: -8%; }

  100% {
    left: 107%;
    right: -8%; } }

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }

  60% {
    left: 107%;
    right: -8%; }

  100% {
    left: 107%;
    right: -8%; } }
